/AddInSideAdapters/bin
/AddInSideAdapters/obj
/AddInViews/bin
/AddInViews/obj
/Contracts/bin
/Contracts/obj
/HostApplication/bin
/HostApplication/obj
/HostSideAdapters/bin
/HostSideAdapters/obj
/HostView/bin
/HostView/obj
/MySecondPlugin/bin
/MySecondPlugin/obj
/MySimpleAddIn/bin
/MySimpleAddIn/obj
/Output
/.vs
